<div class="container">
    <h3>Employees</h3>
    <hr>
    <div class="table-responsive">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Position</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>John</td>
                    <td>Doe</td>
                    <td>Back-end developer</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Raghunandan</td>
                    <td>Vempati</td>
                    <td>JS developer</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Suresh</td>
                    <td>Mohan</td>
                    <td>Project Manager</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Syam</td>
                    <td>Babu</td>
                    <td>Scrum master</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Karthik</td>
                    <td>Ravichandran</td>
                    <td>Back-end developer</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>